<%- include("header") -%>

<h1>Welcome to my ToDo List app</h1>

<p>Lorem ipsum dolor sit amet. Et iste natusaut ullam et autem ratione. Et nihil dolores et quia architectoVel earum. Ex
    sapiente enim qui eius voluptate Et maiores ad eveniet minima qui placeat sapiente eos ipsum quaerat.</p>

<p>Sit unde corrupti id libero perferendis Id dolores At aliquid omnis aut omnis eius sed rerum iusto qui tempore
    minima. Qui minima voluptasnon quidem a voluptas similique. Qui quia sint Eos facilis ex accusantium culpa aut rerum
    laudantium nam illum sequi.</p>

<p>Non dolorem sapiente est mollitia atqueEum ullam et expedita necessitatibus aut mollitia numquam a molestias
    repellendus aut iste ullam. Et sapiente possimus Sed autem cum nihil internos quo rerum quos in tempora repellendus.
    Eum unde explicabo Qui commodi hic omnis possimus aut facilis quasi. Eum odio facilisAt voluptas id enim quia aut
    nesciunt modi et itaque dolor qui dolorum eaque 33 sequi fugiat!</p>

<%- include("footer") -%>